<div class="user-page">
<h2><%= @user.name %>のページ</h2>

<p>メールアドレス: <%= @user.email %></p>

<% @favorites_blogs.each do |blog| %>
    <h3>タイトル: <%= blog.title %></h3><br>
    <h3>内容: <%= blog.content %></h3><br>
  <% end %>
</div>
</div>
