body{
  margin: 0;
  padding: 0;
}



ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

.index-page a{
  color:#ffffff;
}

.index-page{
  margin-bottom: 50px;
}

.index-page, .new-page, .edit-page, .check-page, .show-page, .signup-page, .login-page, .user-page{
  text-align: center;
}

.new-page h2{
  margin-top: 100px;
  margin-bottom: 50px;
}

.index-page h2{
  margin-top: 100px;
  margin-bottom: 50px;
}
.edit-page h2{
  margin-top: 100px;
  margin-bottom: 50px;
}
.check-page h3{
  margin-top: 100px;
  margin-bottom: 50px;
}

.show-page h2{
  margin-top: 100px;
  margin-bottom: 50px;
}

.user-page h2{
  margin-top: 100px;
  margin-bottom: 50px;
}

.show-page a{
  color:#ffffff;
}


.top-content {
  box-sizing: border-box;
  width: 100%;
  min-height: 300px;
  padding-top:66.4%;
  background-image: image-url("people-2576162_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  margin:0;
}

.top-content::before{
  background-color:rgba(0,0,0,0.2);
  position:absolute;
  top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
}

.box{
    width:100%;
    text-align: center;
    font-size:45px;
    position:absolute;
}

.box P{
    line-height:700px;
}

.create-btn{
  text-align: center;
  margin-top:30px;
}

.index-page h3{
  margin: 0;
  padding: 0;
  margin-bottom:5px;
}

.index-page button{
  margin-bottom:50px;
}

header{
 position: fixed;
 top: 0;
 width:100%;
 z-index: 100;
}

.margin-top{
  margin-top:50px;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

footer p{
  text-align: center;
  line-height: 60px;
}
