// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-contact-page{
  text-align: center;
}

.new-contact-page h2{
  margin-top: 100px;
  margin-bottom: 50px;
}
